<div class="collumn {{backupColor}} white carousel-cell mix {{type}}" >
  <div class="frontcover"> </div>
  <div class="backcover"> </div>
  <div class="topslack">
    <p class="f0 title">{{title}}</p>
    <span class="f1 date">{{date}}</span>
    <p class="f1 text">{{text}}</p>
  </div>


{{#if awardwhere}}
  <div class="award"><div class="icon"></div><p class="tiny f1">{{awardwhere}} <br> {{awardwhat}}</p></div>
{{/if}}
</div>
